<!DOCTYPE html>
<html>
  <head>
    <title>AuthFromScratch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <nav class="bg-gray-800">
          <div class="mx-auto">
            <div class="items-items-center ">
              <%= link_to "Sign Up", sign_up_path, class: "text-white rounded-md px-3 py-2 text-sm font-medium" %>
              <%= link_to "Sign In", sign_in_path, class: "text-white rounded-md px-3 py-2 text-sm font-medium", id: "user-login" %>
              <%= button_to "Sign Out", sign_out_path, method: :delete,class: "text-white rounded-md px-3 py-2 text-sm font-medium", id: "user-sign-out" %>
            </div>
          </div>  
      </nav>  
       <% flash.each do |type, msg| %>
      <div class="flash"><%= msg %></div>
      <% end %>
   
      <%= yield %>
    </main>
  </body>
</html>
